anndata==0.7.8
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
basemap==1.2.1
beautifulsoup4==4.10.0
bleach==4.1.0
brotlipy==0.7.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.4
cmake==3.18.0
cryptography==36.0.0
cvxpy==1.2.1
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
ecos==2.0.10
entrypoints==0.3
executing==0.8.3
filelock==3.6.0
fonttools==4.25.0
functorch==0.1.1
future==0.18.2
gdown==4.4.0
geomloss==0.2.4
graphtools==1.5.2
graphviz==0.20
h5py==3.6.0
idna==3.3
importlib-metadata==4.8.2
ipykernel==6.9.1
ipython==8.1.1
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.6
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-server==1.13.5
jupyterlab==3.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
kiwisolver==1.3.2
llvmlite==0.38.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.2
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
munkres==1.1.4
natsort==8.1.0
nb-conda-kernels==2.3.1
nbclassic==0.3.5
nbclient==0.5.11
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.7
notebook==6.4.8
numba==0.55.1
numexpr==2.8.1
numpy==1.21.2
osqp==0.6.2.post5
packaging==21.3
pandas==1.3.4
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.2
pexpect==4.8.0
phate==1.0.7
pickleshare==0.7.5
Pillow==9.0.1
pip==21.2.4
POT==0.8.1.0
prometheus-client==0.13.1
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pure-eval==0.2.2
pybind11==2.9.1
pycparser==2.21
Pygments==2.11.2
PyGSP==0.5.1
pykeops==2.0b0
pynndescent==0.5.6
pyOpenSSL==22.0.0
pyparsing==3.0.4
pyproj==3.3.0
pyrsistent==0.18.0
pyshp==2.3.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
pyzmq==22.3.0
qdldl==0.1.5.post2
requests==2.27.1
s-gd2==1.8
scanpy==1.8.2
scikit-learn==1.0.2
scipy==1.8.0
scprep==1.1.0
scs==3.2.0
seaborn==0.11.2
Send2Trash==1.8.0
setuptools==58.0.4
sinfo==0.3.4
sip==4.19.13
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
stack-data==0.2.0
statsmodels==0.13.2
stdlib-list==0.8.0
tables==3.7.0
tasklogger==1.1.0
terminado==0.13.1
testpath==0.5.0
threadpoolctl==3.1.0
torch==1.11.0
torchdiffeq==0.2.2
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
typing-extensions==3.10.0.2
umap-learn==0.5.2
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
wheel==0.37.1
wot==1.0.8.post2
wrapt==1.13.3
xlrd==1.2.0
zipp==3.7.0
